* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: linear-gradient(to bottom, rgb(192, 12, 12), #ece7ea);
  }
  
  /* Header/Blog Title */
  .header {
    display: inline;
    text-align:center;
    margin:auto;
    flex:1;
    width:100%;
    height:auto;
  }
  
  .header h1 {
    font-size: 50px;
    color: orange;
  }
  
.logo {
  float: center;
  display: block;
  text-align: center;
  padding-bottom: 20px;
  border-radius: 60px;
}

  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    margin: 27px auto 0;

	position: relative;
	width: 590px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
  }
  
  /* Style the topnav links */
  .topnav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  
  nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
  }
  a:nth-child(1) {
    width: 100px;
  }
  a:nth-child(2) {
    width: 110px;
  }
  a:nth-child(3) {
    width: 100px;
  }
  a:nth-child(4) {
    width: 160px;
  }
  a:nth-child(5) {
    width: 120px;
  }
  nav .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #1abc9c;
  }
  nav .start-about, a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #e74c3c;
  }
  nav .start-blog, a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: #3498db;
  }
  nav .start-portefolio, a:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
    background-color: #9b59b6;
  }
  nav .start-contact, a:nth-child(5):hover~.animation {
    width: 120px;
    left: 470px;
    background-color: #e67e22;
  }
  

  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding: 10px
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: rgb(255, 189, 89);
    padding: 20px;
    margin-top: 20px;
    border-style: solid;
    border-color: rgb(192, 12, 12);
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    border-color: rgb(192, 12, 12);
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .footer a {
    display: inline-block;
    color: whitesmoke;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }


 .column1of3, .column2of3, .column3of3 {
  float: left;
  width: 32%;
  margin: 12px;
 }

 .fa {
  display: inline-flex;
      width: 55px;
      height: 55px;
      margin: 15px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: #405de6;
      box-shadow: 0px 7px 30px rgba(43,98,169,0.5);
      position: relative;
      font-size: 21px;
      flex-shrink: 0;
      transition: all .3s;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa-github {
  background: linear-gradient(45deg, #333333, #626b73);
  box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
}

.fa-facebook {
  background: linear-gradient(45deg, #3b5998, #0078d7);
        box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
      
}

.fa-instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
        box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
}

.fa-reddit {
  background: linear-gradient(45deg, #eb0808, #bb1414, #cf0b0b, #c20e0e, #ff0000, #fd1d1d);
        box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
}
