* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: linear-gradient(to bottom, rgb(192, 12, 12), #ece7ea);
  }
  
  /* Header/Blog Title */
  .header {
    display: inline;
    text-align:center;
    margin:auto;
    flex:1;
    width:100%;
    height:auto;
    padding: 20px;
    border-color: rgb(192, 12, 12);
  }
  
  .header h1 {
    font-size: 50px;
    color: orange;
    padding: 20px;
  }
  
.logo {
  color:rgb(255, 189, 89);
  border-style: solid;
  display: block;
  border-color: rgba(255, 189, 89, 0.795);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

  /* Style the top navigation bar */
  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-style: solid;
    border-color: rgba(255, 189, 89, 0.795);
    border-radius: 40px;

    border-color: rgb(255, 189, 89);
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
  
  
  /* Style the topnav links */
  .nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
  
.nav a:hover {
  background: linear-gradient(45deg, #333333, #626b73);
  filter: brightness(50%);
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
}
  
  
 

  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding: 10px
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: rgb(255, 189, 89);
    padding: 20px;
    margin-top: 20px;
    border-style: solid;
    border-color: rgb(192, 12, 12);
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    border-color: rgb(192, 12, 12);
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .footer a {
    display: inline-block;
    color: whitesmoke;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn, .logo {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .nav a {
      float: none;
      width: 100%;
    }
  }


 .column1of3, .column2of3, .column3of3 {
  float: left;
  width: 32%;
  margin: 12px;
 }

 .fa {
  display: inline-flex;
      width: 55px;
      height: 55px;
      margin: 20px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      color: #fff;
      position: relative;
      font-size: 30px;

      box-shadow: 0px 7px 30px rgba(43,98,169,0.5);
      position: relative;
      font-size: 30px;
      flex-shrink: 0;
      transition: all .3s;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}




.fa-github {
  background: linear-gradient(45deg, #333333, #626b73);
  box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
}

.fa-facebook {
  background: linear-gradient(45deg, #3b5998, #0078d7);
        box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
      
}

.fa-instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
        box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
}

.fa-reddit {
  background: linear-gradient(45deg, #eb0808, #bb1414, #cf0b0b, #c20e0e, #ff0000, #fd1d1d);
        box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
}

.fas {
width: 40px;
}

.fas {
width: 40px;
}

/* Memebers CSS --------------------------------------------------- */
